/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootswatch/dist/darkly/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/bootstrap.min.css";

.ajs-message {
  border-color: transparent !important;
}

.tab-panel {
  padding: 10px;
  border-radius: 4px;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  border: 0;
  padding: 20px 0;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}
