<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ photoUrl || '../../../assets/user.png' }}"
          alt="{{ user.knownAs }}"
        />
        <div class="card-body">
          <strong>Location:</strong>
          <p>{{ user.city }}, {{ user.country }}</p>
          <strong>Age:</strong>
          <p>{{ user.age }}</p>
          <strong>Last Active:</strong>
          <p>{{ user.lastActive }}</p>
          <strong>Member Since:</strong>
          <p>{{ user.created }}</p>
        </div>
      </div>
      <div class="card-footer">
        <button
          form="editForm"
          [disabled]="!editForm.dirty"
          class="btn btn-success btn-block"
        >
          Save changes
        </button>
      </div>
    </div>
    <div class="col-sm 8">
      <div class="alert alert-info" *ngIf="editForm.dirty">
        <strong>Information:</strong> You have made changes. Any unsaved changes
        will be lost!
      </div>
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <h4>Description</h4>
              <textarea
                class="form-control"
                name="introduction"
                rows="6"
                [(ngModel)]="user.introduction"
              ></textarea>
              <h4>Looking For</h4>
              <textarea
                class="form-control"
                name="lookingFor"
                rows="6"
                [(ngModel)]="user.lookingFor"
              ></textarea>
              <h4>Interests</h4>
              <textarea
                class="form-control"
                name="interests"
                rows="6"
                [(ngModel)]="user.interests"
              ></textarea>
              <h4>Location Details</h4>
              <div class="form-inline">
                <label for="city">City</label>
                <input
                  class="form-control"
                  name="city"
                  type="text"
                  [(ngModel)]="user.city"
                />
                <label for="country">Country</label>
                <input
                  class="form-control"
                  name="country"
                  type="text"
                  [(ngModel)]="user.country"
                />
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor
              [photos]="user.photos"
              (getMemberPhotoChange)="updateMainPhoto($event)"
            ></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
